# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

datasets/
features/
outputs/

.ipynb_checkpoints
notebooks/analyzer

# jetbrains
.idea
#macos
.DS_Store
.h5

.vscode
configs/vae.yaml
/lightning_logs/
datasets/vae/checkpoints
run.sh
emanalysis.out
configs/mouseA2.yaml
